.app {
    background: #F1F1F1;
    /*Definimos que o elemento é utilizará um display grid*/
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;

    /*Propriedade que define quais aréas teremos no layout*/
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
        
    /*Propriedade que define qual será o template das colunas*/
    grid-template-columns: auto;

    /*Propriedade que define qual será o tamano das linhas, tendo 3 linhas no total*/
    grid-template-rows: 50px 100vh  auto; 
}

.cabecalho {
    /*Definindo a area da classe*/
    grid-area: cabecalho;
}

.conteudo {
    /*Definindo a area da classe*/
    grid-area: conteudo;
}

.rodape {
    /*Definindo a area da classe*/
    grid-area: rodape;
}